*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#fff;
    color: #111;
    border: 1px solid black;
}
.heading{
    height: 9vh;
    width: 99.9vw;
    background-color:rgb(65, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.heading h1{
    border: 2px solid black;
    background-color:peru;
}
.container{
    height: 90.7vh;
    width: 99.9vw;
    background-color:rosybrown;
    display: flex;
}
.work{
    height: 89vh;
    width: 66vw;
    position: relative;
    /* display: flex; */
    /* background-image: url("/experiment/simulation/images/background.png"); */
    /* background-size: cover; */
    /* background-position:center; */
    margin-top: 1vh;
    margin-left: 1vw;
    border: 1px solid black;
}
.work #img1{
    height: 100%;
    width: 100%;
    position: absolute;
}
.work #img2{
    height: 22%;
    width: 8%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(25rem,9.8rem);
}
.work #img3{
    height: 100%;
    width: 100%;
    position: absolute;
}
.work #img4{
    height: 22%;
    width: 20%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(39.6rem,12rem);
}
.work #img5{
    height: 299.17;
    width: 66.72;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(7rem,0rem);
}
.work #img6{
    height: 209.41px;
    width: 14.83px;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(8.8rem,0rem);
}
.work #img7{
    height: 20%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(15rem,10.5rem);
}
.work #img8{
    height: 30%;
    width: 5%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(18rem,7.3rem);
}
.work #img9{
    height: 7%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(14rem,16.5rem);
}
.work #img10{
    height: 12%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(24rem,15rem);
}
.work #img11{
    height: 299.17px;
    width: 66.72;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(10rem,5rem);
}
.work #img12{
    height: 209.41px;
    width: 14.83px;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(12.4rem,3rem);
}
.work #img13{
    height: 22%;
    width: 8%;
    color: #fff;
    background: transparent;
    position: absolute;
    left: 20rem;
    top: 17.1rem;
    transition: all 2s ease-in-out;
    transform-origin: top left;
}
.work #img14{
    height: 30%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    left: 27rem;
    top: 15.5rem;
    transition: all 2s ease-in-out;
    transform-origin: top left;
}
.work #img15{
    height: 30%;
    width: 9%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(33rem,7rem);
}
.work #img16{
    height: 20%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(19.5rem,10.7rem);
}
.work #img17{
    height: 20%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    left: 40rem;
    top: 18rem;
    transition: all 2s ease-in-out;
    transform-origin: top left;
}
.work #img18{
    height: 10%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    left: 35rem;
    top: 21.1rem;
}
.work #img19{
    height: 7%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    left: 37rem;
    top: 24rem;
    transition: all 2s ease-in-out;
    transform-origin: top left;
}
.work #img20{
    height: 12%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(29rem,15.5rem);
}
.work #img21{
    height: 25%;
    width: auto;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(24rem,9rem);
}
.container2{
    height: 88.8vh;
    width: 31vw;
    border: 1px solid black;
    margin-top: 6.8px;
    margin-left: 10px;
}
.message{
    height: 44.1vh;
    width: 30.9vw;
    background-color: grey;
}
.starter{
    height: 44.4vh;
    width: 30.9vw;
    background-color:darkslategrey;
    position: absolute;
    bottom: 0.38rem;
    display:grid;
    justify-content: center;
    align-items: center;
}
#hcl-std{
    height: 2rem;
    width: 10rem;
    margin-top: 3rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}
#main-exp{
    height: 2rem;
    width: 10rem;
    margin-bottom: 3rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}
#ins{
    margin: auto;
    /* margin-top: 5vh; */
    color: #111;
    text-align: center;
    font-style:normal;
    text-decoration: underline;
}
#text{
    text-align: center;
    font-size: 2.0vw;
    font-weight: 100;
    color:tan;
    margin-top: 3rem;
}
#text2{
    text-align: center;
    font-size: 2.0vw;
    font-weight: 100;
    color: orange;
    margin-top: 3rem;
}
.start{
    height: 1.4rem;
    width: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    background-color:pink;
    color: #111;
    transform: translate(42rem,30.5rem); 
}
.start a{
    text-decoration: none;
}
#next{
    height: 1.4rem;
    width: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    background-color:pink;
    color: #111;
    transform: translate(43.6rem,30.5rem);
}