*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#fff;
    color: #111;
    border: 1px solid black;
}
.heading{
    height: 9vh;
    width: 99.9vw;
    background-color:rgb(65, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.heading h1{
    border: 2px solid black;
    background-color:peru;
}
.container{
    height: 90.7vh;
    width: 99.9vw;
    background-color:rosybrown;
    display: flex;
}
.work{
    height: 89vh;
    width: 66vw;
    position: relative;
    /* display: flex; */
    /* background-image: url("/experiment/simulation/images/background.png"); */
    /* background-size: cover; */
    /* background-position:center; */
    margin-top: 1vh;
    margin-left: 1vw;
    border: 1px solid black;
}
.work #img1{
    height: 100%;
    width: 100%;
    position: absolute;
}
.work #img2{
    height: 22%;
    width: 10%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(22.5rem,11rem);
}
.work #img3{
    height: 100%;
    width: 100%;
    position: absolute;
}
.work #img4{
    height: 22%;
    width: 20%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(36rem,11rem);
}
.work #img5{
    height: 299.17;
    width: 66.72;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(7rem,0.8rem);
}
.work #img6{
    height: 209.41px;
    width: 14.83px;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(9.2rem,1.1rem);
}
.work #img7{
    height: 30%;
    width: 10%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(15rem,8.3rem);
}
.work #img8{
    height: 30%;
    width: 5%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(31rem,8.3rem);
}
.work #img9{
    height: 20%;
    width: 15%;
    color: #fff;
    background: transparent;
    position: absolute;
    transform: translate(30rem,16rem);
}
.instruction_h{
    background-color:rgb(65, 96, 96);
    height: 89vh;
    width: 31vw;
    margin-top: 1vh;
    margin-left: 0.9vw;
    margin-right: 1vw;
    border: 1px solid black;
}
.instruction_h h1{
    background-color: peru;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
    border: 1px solid black;
}
.instruction{
    height: 60vh;
    width: 25vw;
    margin: auto;
    margin-top: 5vh;
    color: #111;
}
.instruction h2{
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 3rem;
}
#start{
    height: 1.4rem;
    width: 4rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
    background-color:pink;
    color: #111;
    transform: translate(45rem,30.5rem);
}
